/* Styles for Mobile devices */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-top: 64px;
  margin-bottom: 16px;
}

h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
}

.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.artist-card {
  width: 100%;
}

.loadMoreBtn {
  margin: 0 auto;
  display: block;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .cards-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .artist-card {
    width: calc(50% - 0.5rem); /* 2 в ряд з відступом */
  }
}
